/* @import '~@fortawesome/fontawesome-free/css/all.min.css'; */


.footer {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #333;
  color: white;

  text-align: center;
  /* position:fixed; */
  bottom:0;
  width:100%;
}
.footer > .parent_footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  padding: 20px;
}

.social-links >h5,.product-link  >h5{
  display: flex;
  font-weight: 500;
}



.social-links a ,.product-link  >a{
  display: block;
  margin-right: 10px;
  column-gap: 10px;
  display: flex;
}
.social-links > a {
  display: flex;

}

#currentYear {
  font-weight: bold;
}


.clickme_{
/* padding: 0 5px;
margin-left: -5; */
color:#1976d2 ;
}

.clickme_:hover {
  background-color: rgba(254, 246, 7, 0.427); /* Semi-transparent white background */
  transition: background-color 0.3s ease; /* Smooth transition */
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}

@media (max-width: 600px) {
  .clickme_{
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .parent_footer{
    flex-wrap: wrap;
  }
}

.copyright{
  background-color: #ffffff2b;
}